.pageWithNavOpen {
  margin-left: 240px;
  padding-right: 240px;
  transition: margin-left 0.2s ease-in-out;
}

.pageWithNavClosed {
  margin-left: 100px;
  padding-right: 100px;
  transition: padding-right 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}
